@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        var twoFactor = ViewData["TwoFactorEnabled"];
        if(twoFactor != null && twoFactor.ToString().ToLower() == "true")
        {
            <a asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning">Reset & Remove two factor authentication</a>
        }
        <a asp-action="EnableAuthenticator" asp-controller="Account">Setup two factor authentication</a>
        <br />
        <br />
    }

    @if (User.IsInRole(SD.Admin))
    {
        <h2 class="text-success">Your role is - Admin</h2>
    }else{
        <h2 class="text-success">Your role is - User</h2>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
